html, body {
    height: 100%;
    width: 100%;
}

#container {
    min-height: 100%;
}

#content {
    padding-bottom: 200px;
}

/* header */
#header {
    padding-top: 2px;
    padding-right: 2px;
    padding-left: 5px;
    height: 40px;
    line-height: 38px;
}

#project-name a{
    color: #000000;
}

#project-name a:hover{
    color: #000000;
    text-decoration: underline;
}

#large-menu, #large-menu a {
    color: #989898;
}

#large-menu a:hover {
    color: #20252b;
}
#account-btns {
    height: 40px;
}

/* Footer */
#footer {
    margin-top: -200px;
    height: 200px;
    clear: both;
    background-color: #2b2b2b;
    padding-top: 8px;
}

.footer-link-head {
    padding-top: 18px;
    color: #c8c8c8;
    text-decoration: underline;
}

.light-link {
    color: #cbcbcb;
}

.light-link:hover {
    color: #fff;
}


/* Socials */
.slack {
    background-color: #9361c8;
}
.facebook {
    background-color: #2D4373;
}
.github {
    background-color: #999999;
}
.google {
    background-color: #D50F25;
}
.twitter {
    background-color: #55ACEE;
}

.social {
    width: 125px;
    height: 25px;
    padding: 5px 0;
    margin: 2px 0;
    text-align: left;
    padding-left: 10px;
}
.social:hover {
    background-color: #3c3c3c;
}

/* Helper Classes */
.code {
    font-family: 'Source Code Pro', sans-serif;
}

/* ******************************************** */
/* ******************************************** */

/* Home page specific */

#info {
    min-height: 200px;
    background-color: #e8e8e8;
    padding-top: 30px;
}

#challenge-wrap {
    background-color: #f58312;
    box-shadow: inset 0px 0px 10px 2px rgba(0,0,0,0.75);
    padding: 20px 0;
}

#challenge {
    background-color: #ffffff;
    border: solid black 2px;
}

#leader-board {
    min-height: 400px;
    background-color: #1e44a2;
    box-shadow: inset 0px 0px 33px 2px rgba(0,0,0,0.75);
}

#getting-started {
    min-height: 200px;
    background-color: #e8e8e8;
}

#contribute {
    min-height: 25px;
    padding: 10px 10px;
    background-color: #3E4349;
    color: #ffffff;
}