<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{%  block title %} UQCS - CodeGolf {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/codegolf.css') }}" />
    {% block css %}{% endblock %}
    <link href='https://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  </head>
  <body>
    <div id="container">
      <div id="header">
        <div id="project-name" class="float-left code">
          <a href="{{ url_for('index') }}">UQCS - CodeGolf</a>
          /
        </div>
        <div id="large-menu" class="float-left show-for-medium code">
          &nbsp;
          <a {%if request.endpoint == "index"%} class="active" {%endif%} href="{{ url_for('index') }}">Home</a>
          | <a {%if request.endpoint == "about"%} class="active" {%endif%} href="{{ url_for('about') }}">About</a>
          | <a {%if request.endpoint == "challenge.index"%} class="active" {%endif%} href="{{ url_for('challenge.index') }}">Challenges</a>
          | <a {%if request.endpoint == "contribute"%} class="active" {%endif%} href="{{ url_for('contribute') }}">Contrib</a>
          | <a {%if request.endpoint == "scores"%} class="active" {%endif%} href="{{ url_for('scores') }}">Scores</a>
        </div>
        <div id="account-btns" class="float-right">
          {% if account_name %}
            <a class="hollow button small" href="#">{{ account_name }}</a>
          {% else %}
            <a class="hollow button small" href="{{ url_for('user.login') }}">Login / Signup</a>
          {% endif %}
        </div>
      </div>
      <div id="content">
      {% block body %}
        #body content here
      {% endblock %}
      </div>
    </div>
    <div id="footer">
      <div class="column small-4">
        <ul class="no-bullet float-center" style="width: 100px;">
          <li class="footer-link-head">UQCS</li>
          <li><a href="https://uqcs.org.au/" class="light-link">Home</a></li>
          <li><a href="https://uqcs.org.au/about" class="light-link">About</a></li>
          <li><a href="https://uqcs.org.au/contact" class="light-link">Contact</a></li>
          <li><a href="https://uqcs.org.au/join" class="light-link">Join</a></li>
        </ul>
      </div>
      <div class="column small-4">
        <ul class="no-bullet float-center" style="width: 100px;">
          <li class="footer-link-head">CodeGolf</li>
          <li><a href="{{ url_for('index') }}" class="light-link">Home</a></li>
          <li><a href="{{ url_for('user.login') }}" class="light-link">Login</a></li>
          <li><a href="{{ url_for('about') }}" class="light-link">About</a></li>
          <li><a href="{{ url_for('challenge.index') }}" class="light-link">Challenges</a></li>
          <li><a href="{{ url_for('contribute') }}" class="light-link">Contribute</a></li>
        </ul>
      </div>
      <div class="column small-4">
        <ul class="no-bullet float-center" style="width: 125px; padding-top: 20px;">
          <li>
            <a href="https://slack.uqcs.org.au/" class="button social slack">
              <i class="fa fa-slack"></i> Slack
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/uqcomputing" class="button social facebook">
              <i class="fa fa-facebook-official"></i> Facebook
            </a>
          </li>
          <li>
            <a href="https://github.com/UQComputingSociety/" class="button social github">
              <i class="fa fa-github"></i> Github
            </a>
          </li>
          <li>
            <a href="https://google.com/profiles/uqcomputing" class="button social google">
              <i class="fa fa-google-plus"></i> Google+
            </a>
          </li>
          <li>
            <a href="https://twitter.com/UQComputing" class="button social twitter">
              <i class="fa fa-twitter"></i> Twitter
            </a>
          </li>
        </ul>
      </div>
    </div>
    <script src="{{ url_for('static', filename='js/vendor/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/what-input.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/foundation.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/codegolf.js') }}"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>