{% extends 'layout.html' %}
{% block css %}
  <link rel="stylesheet"
        href="{{ url_for('static', filename='css/user/account.css') }}"/>
{% endblock %}
{% block body %}
  <br>
  <div class="row">
    <div class="small-12 text-center">
      <h1>Welcome {{ current_user.name }}</h1>
    </div>
    <table class="column small-12 medium-6 medium-offset-3 end">
      <tr>
        <td>Current Ranking:</td>
        <td>0</td>
      </tr>
      <tr>
        <td>Current Points:</td>
        <td>0</td>
      </tr>
    </table>
  </div>
  <div class="row column">
    <div class="small-12 medium-6 medium-offset-3 end">
      <h4>Last 3 Challenges</h4>
    </div>
    <table class="column small-12 medium-6 medium-offset-3 end">
      <tr>
        <td>Challenge</td>
        <td>Score</td>
      </tr>
      <tr>
        <td><a href="#">blah</a></td>
        <td>69</td>
      </tr>
      <tr>
        <td><a href="#">batman</a></td>
        <td>42</td>
      </tr>
      <tr>
        <td><a href="#">steve crabolski</a></td>
        <td>-1</td>
      </tr>
    </table>
    <div class="small-12 medium-6 medium-offset-3 end">
      <a href="#">View all challenges.</a>
    </div>
  </div>
  <div class="row">
    <div class="column small-12 medium-6 medium-offset-3"
         style="background-color: #e3e3e3">
      <ul class="no-bullet text-center" style="padding-top: 30px;">
        <li><a href="{{ url_for('user.logout') }}" class="button account-btn">Logout</a>
        </li>
        <li><a href="{{ url_for('user.delete') }}"
               class="button account-btn btn-warning">Delete Account</a></li>
      </ul>
    </div>
  </div>
{% endblock %}